<p>Cher·ère <%= @user %>,</p>

<p>
  Votre abonnement annuel à l'écothèque a expiré.<br>
  Si vous souhaitez de nouveau un accès complet à la plateforme, veuillez <%= link_to "renouveler votre abonnement", offers_url %>.
</p>

<p>Cordialement.</p>