<div class="mb-3">
  <label  class="form-label">Citation</label>
  <textarea class="form-control" v-model="data.text"></textarea>
</div>
<div class="mb-3">
  <label  class="form-label">Auteurice</label>
  <input type="text" class="form-control" v-model="data.author" />
</div>