<%
section_opened = false
%>
<div class="structure mt-5">
  <% about.items.each do |item| %>
    <% if item.kind == 'h2' %>
      <% if section_opened %>
          </div>
        </section>
      <% end %>
      <% section_opened = true %>
      <section class="py-5" id="<%= item.slug %>">
        <div class="container">
          <h2><%= item %></h2>
    <% else %>
      <div class="structure__item__<%= item.kind %>">
        <%= render "structure/items/kinds/#{item.kind}", about: about, item: item %>
      </div>
    <% end %>
  <% end %>
</div>