<%
section_opened = false
%>
<div class="mt-5">
  <% about.items.each do |item| %>
    <% if item.kind == 'h2' %>
      <% if section_opened %>
          </div>
        </section>
      <% end %>
      <% section_opened = true %>
      <section class="py-5" id="<%= item.slug %>">
        <div class="container">
    <% end %>
    <%= render "structure/items/kinds/#{item.kind}", about: about, item: item %>
  <% end %>
</div>