.faceted__facets
    &-selected
        display: none
    > li:not(:last-of-type)
        border-bottom: 1px solid $border-color
        padding-bottom: pxToRem(24)
        margin-bottom: pxToRem(24)
    .list-inline
        align-items: flex-start
        display: flex
        flex-wrap: wrap
        gap: map-get($spacers, 1)
        li
            margin: 0 !important
    > li:not(.accordion-item)
        border-bottom: none
        margin-bottom: 0
        .faceted__facet__text.form-inline
            margin-top: map-get($spacers, 2)
            display: flex
            gap: map-get($spacers, 1)
            border-bottom: 1px solid black
            input
                @extend .search-input
    .faceted__facet__reinit
        @extend .btn
        @extend .btn-dark
        @extend .rounded-pill
        @include icon(delete)
        a
            @extend .text-white
            text-decoration: none