.splide
    display: flex
    flex-direction: column-reverse
    &__track
        overflow: visible
    &__list
        gap: $grid-gutter-width
    &__arrows
        text-align: right
        margin-top: map-get($spacers, 3)
        .splide__arrow
            background: none
            border: none
            cursor: pointer
            svg
                display: none
            &--prev
                @include icon(arrow-left)
            &--next
                @include icon(arrow-right)
                margin-left: map-get($spacers, 1)
.splide__slide
    opacity: 0.5
    &.is-visible,
    &.is-next
        opacity: 1