<%= content_for :title, @comment %>

<div class="container py-5">
  <h1>Éditer un commentaire</h1>
  <div class="row">
    <div class="col-md-9 col-lg-6">
      <%= render 'comments/form', comment: @comment %>
    </div>
  </div>
</div>