<div class="structure structure--zone-header">
  <div class="row">
    <% about.items.zone_header.each do |item| %>
      <div class="structure__item__<%= item.kind %> col-lg-6 mb-4">
        <%= render 'structure/items/label', label: item.to_s %>
        <%= render "structure/items/kinds/#{item.kind}", 
                    about: about, 
                    item: item, 
                    value: item.value_for(about),
                    text: item.text_for(about) %>
      </div>
    <% end %>
  </div>
</div>