<%
# :materials
resources_class_name = about.class.to_s.downcase.pluralize.to_sym
# La clé `routes` est une convention de la gem `route_translator`
# {:materials=>"materiaux", :projects=>"projets"}
slugs = t('routes')
# 'materiaux'
resources_slug = slugs[resources_class_name]
path = option_path(resources_slug: resources_slug, item_slug: item.slug, option_slug: option.slug)
%>
<% if option %>
  <a  href="<%= path %>" 
      class="btn btn-outline-dark rounded-pill">
    <%= option %>
  </a>
<% end %>