<% if option %>
  <%
  # materials
  resources_class_name = about.class.to_s.downcase.pluralize
  # option_materials_path
  path_name = "option_#{resources_class_name}_path"
  # /materiaux/famille-de-materiaux/plastiques
  path = public_send(path_name, item_slug: item.slug, option_slug: option.slug)
  %>
  <a href="<%= path %>" class="btn btn-outline-dark rounded-pill">
    <%= option %>
  </a>
<% else %>
  <span class="btn btn-outline-dark rounded-pill disabled">Non renseigné</span>
<% end %>