<% model_name = controller_class.singularize %>
<%= content_for :title, t("ui.#{model_name}.glossary.title") %>

<div class="hero mt-5" data-first-letter="g" data-second-letter="l">
  <div class="container py-5">
      <h1>Glossaire</h1>
  </div>
</div>
<div class="document-content py-5">
  <div class="container">
    <% @items.each do |item| %>
      <% options = Structure::Option.where(item_id: item).ordered_by_name %>
      <div class="row mt-5">
        <div class="col-lg-6">
          <h2><%= item %></h2>
        </div>
        <div class="col-lg-6 mt-3 mt-lg-0 d-flex flex-wrap gap-1 align-items-baseline">
          <%= render "structure/options/list", objects: options %>
        </div>
      </div>
    <% end %>
  </div>
</div>