<div class="row">
  <% objects.each do |technic| %>
    <div class="col-lg-3 mb-4">
      <article class="position-relative">
        <%= render 'illustration', source: technic, width: 400 %>
        <h2><%= link_to technic, technic, class: 'stretched-link' %></h2>
        <%= render 'structure/items/in_list', about: technic %>
      </article>
    </div>
  <% end %>
</div>
