<div class="row technics-list">
  <% objects.each do |technic| %>
    <div class="col-md-6 col-lg-4 mb-5">
      <article class="position-relative">
        <%= render 'illustration', source: technic, width: 400 %>
        <h2><%= link_to technic, technic, class: 'stretched-link' %></h2>
        <div class="tags d-flex align-items-start flex-wrap">
          <%= render 'structure/items/in_list', about: technic %>
        </div>
      </article>
    </div>
  <% end %>
</div>
