<div class="row">
  <% objects.each do |technic| %>
    <div class="col-lg-3 mb-4">
      <article class="position-relative">
        <%= kamifusen_tag technic.image,
                          width: 400,
                          class: 'img-fluid rounded square',
                          alt: technic.image_alt if technic.image.attached? %>
        <h2><%= link_to technic, technic, class: 'stretched-link' %></h2>
        <%= render 'structure/items/in_list', about: technic %>
      </article>
    </div>
  <% end %>
</div>
