<div class="row">
  <% objects.each do |material| %>
    <div class="col-lg-3 mb-4">
      <article class="position-relative">
        <%= kamifusen_tag material.image,
                          width: 400,
                          class: 'img-fluid rounded square',
                          alt: material.image_alt if material.image.attached? %>
        <h2><%= link_to material, material, class: 'stretched-link' %></h2>
      </article>
    </div>
  <% end %>
</div>
