<div class="container">
  <h1><%= Technic.model_name.human(count: 2) %></h1>
  <%= link_to 'Glossaire', options_technics_path %>
  <%= render 'technics/list', objects: @technics %>
  <%= paginate @technics, theme: "bootstrap-5" %>
</div>