.hero
    position: relative
    overflow: hidden
    z-index: 1
    padding-top: map-get($spacers, 5)
    background: var(--page-main-color)
    .locations-list
        display: flex
        gap: map-get($spacers, 1)
        flex-wrap: wrap
        > h3
            width: 100%
            margin-bottom: pxToRem(3) !important
        a.btn
            @include icon(pin)
            &::before
                font-size: 12px
                margin-right: calc(#{map-get($spacers, 1)} / 2)

    .credit
        &::before
            content: '© '
.actors-index,
.materials-index,
.projects-index,
.technics-index,
.regions-index,
.members-index,
.toolbox-index,
.toolbox-child,
.laboratory-index,
    .hero
        background:
            repeat: no-repeat
            size: 100%
            position: right bottom
        hgroup
            p
                font-weight: 600
        dl
            dd
                font-weight: 400
        @include media-breakpoint-up(md)
            dl
                dd
                    font-size: pxToRem(20)
        @include media-breakpoint-up(xxl)
            background-size: contain

.offers-index,
.subscriptions-new,
.subscriptions-summary,
.subscriptions-verification,
.subscriptions-confirmation
    .hero
        background: white
.regions-index,
.offers-index,
.subscriptions-new,
.subscriptions-summary,
.subscriptions-verification,
.subscriptions-confirmation
    .hero
        overflow: unset
        z-index: 5
        position: relative
        > img
            bottom: 0
            right: 0
            position: absolute
            pointer-events: none
            width: auto
            height: 30%
            @include media-breakpoint-down(xxl)
                height: 100%
            @include media-breakpoint-down(lg)
                height: 80%
            @include media-breakpoint-down(sm)
                height: 40%
            @include media-breakpoint-up(xxl)
                height: 130%
.regions-index
    .hero > img
.structure--zone-header
    > .row
        row-gap: map-get($spacers, 4)
    + .locations-list
        margin-top: map-get($spacers, 4)

.actors-index, .tours-index
    .hero
        @include media-breakpoint-down(md)
            height: 500px
        .logo-round-1, .logo-round-2
            .stickers
                width: auto
                height: 230px
                @include media-breakpoint-down(md)
                    height: 150px
                position: absolute
        .logo-round-1
            .stickers
                @include media-breakpoint-down(md)
                    width: 35%
                    left: 50%
                    top: 35%
                @include media-breakpoint-up(md)
                    width: 45%
                    left: 45%
                    top: 0%
                rotate: -10deg
        .logo-round-2
            .stickers
                @include media-breakpoint-down(md)
                    width: 35%
                    left: 5%
                    bottom: -10%
                @include media-breakpoint-up(md)
                    width: 45%
                    left: 25%
                    bottom: -10%
                rotate: 45deg
        .directory-image
            @include media-breakpoint-up(md)
                position: absolute
                right: -15%
                top: 0%
            @include media-breakpoint-down(md)
                position: absolute
                right: -15%
                bottom: -40%
            img
                width: 100%
                @include media-breakpoint-down(md)
                    width: auto
                height: 600px
                object-fit: cover
                -webkit-mask-image: asset-url('surlaroute/images-directory/mask-hero.svg')
                mask-image: asset-url('surlaroute/images-directory/mask-hero.svg')

@keyframes rotate-right
    0%
        transform: rotate(0deg)
    50%
        transform: rotate(90deg)
    100%
        transform: rotate(180deg)

@keyframes rotate-left
    0%
        transform: rotate(-180deg)
    50%
        transform: rotate(-90deg)
    100%
        transform: rotate(0deg)

.logo-round-1.scroll-down .stickers,
.logo-round-2.scroll-down .stickers
    animation: rotate-right 0.4s ease


.logo-round-1.scroll-up .stickers,
.logo-round-2.scroll-up .stickers
    animation: rotate-left 0.4s ease

.tours-index
    .hero
        .directory-image
            @include media-breakpoint-down(md)
                position: absolute
                right: -15%
                bottom: -20%
            @extend .rounded
            display: block
            height: 100%
            overflow: hidden
            @include media-breakpoint-down(md)


            img
                filter: grayscale(1)
                mix-blend-mode: luminosity
                @include media-breakpoint-down(md)
                    height: 60vh
