.hero
    position: relative
    overflow: hidden
    z-index: 1
    padding-top: map-get($spacers, 5)
    background: var(--page-main-color)
    .locations-list
        display: flex
        gap: map-get($spacers, 1)
        flex-wrap: wrap
        > h3
            width: 100%
            margin-bottom: pxToRem(3) !important
        a.btn
            @include icon(pin)
            &::before
                font-size: pxToRem(12)
                margin-right: calc(#{map-get($spacers, 1)} / 2)
    .credit
        &::before
            content: '© '

// hero index
main
    section
        .container
            position: relative

.js-sticker
    transform-origin: center center
    .stickers
        width: auto
        height: pxToRem(230)
        @include media-breakpoint-down(md)
            height: pxToRem(150)
        position: absolute
.stickers-right
    .stickers
        @include media-breakpoint-down(md)
            left: 80%
            top: 40%
        @include media-breakpoint-up(md)
            left: 90%
            top: 20%
            rotate: 50deg
.stickers-left
    .stickers
        @include media-breakpoint-down(md)
            width: 35%
            left: -3%
            bottom: -15%
        @include media-breakpoint-up(md)
            left: -10%
            bottom: -11%
            rotate: -10deg

//hero page
.actors-index,
.materials-index,
.projects-index,
.technics-index,
.regions-index,
.members-index,
.toolbox-index,
.toolbox-child,
.laboratory-index,
    .hero
        background:
            repeat: no-repeat
            size: 100%
            position: right bottom
        hgroup
            p
                font-weight: 600
        dl
            dd
                font-weight: 400
        @include media-breakpoint-up(md)
            dl
                dd
                    font-size: pxToRem(20)
        @include media-breakpoint-up(xxl)
            background-size: contain

.offers-index,
.subscriptions-new,
.subscriptions-summary,
.subscriptions-verification,
.subscriptions-confirmation
    .hero
        background: white
.regions-index,
.offers-index,
.subscriptions-new,
.subscriptions-summary,
.subscriptions-verification,
.subscriptions-confirmation
    .hero
        overflow: unset
        z-index: 5
        position: relative
        > img
            bottom: 0
            right: 0
            position: absolute
            pointer-events: none
            width: auto
            height: 30%
            @include media-breakpoint-down(xxl)
                height: 100%
            @include media-breakpoint-down(lg)
                height: 80%
            @include media-breakpoint-down(sm)
                height: 40%
            @include media-breakpoint-up(xxl)
                height: 130%
.regions-index
    .hero > img
.structure--zone-header
    > .row
        row-gap: map-get($spacers, 4)
    + .locations-list
        margin-top: map-get($spacers, 4)

.actors-index,
.tours-index
    .hero
        @include media-breakpoint-down(md)
            height: pxToRem(500)
        .stickers-right, .stickers-left
            .stickers
                width: auto
                height: pxToRem(230)
                @include media-breakpoint-down(md)
                    height: pxToRem(120)
                position: absolute
        .stickers-right
            .stickers
                @include media-breakpoint-down(md)
                    left: 50%
                    top: 40%
                @include media-breakpoint-up(md)
                    left: 60%
                    top: 0%
                rotate: -10deg
        .directory-image
            @include media-breakpoint-up(md)
                position: absolute
                right: -15%
                top: 10%
            @include media-breakpoint-down(md)
                position: absolute
                right: -46%
                bottom: -40%
            @include media-breakpoint-down(sm)
                position: absolute
                right: -26%
                bottom: -40%
            img
                width: 100%
                @include media-breakpoint-down(md)
                    width: auto
                height: pxToRem(600)
                object-fit: cover
                -webkit-mask-image: asset-url('surlaroute/mask-hero.svg')
                mask-image: asset-url('surlaroute/mask-hero.svg')

.tours-index
    .hero
        .rounded
            display: block
            height: 100%
            overflow: hidden
            @include media-breakpoint-down(md)
                position: absolute
                right: -15%
                bottom: -20%
                height: 60vh
        .directory-image
            img
                filter: grayscale(1)
                mix-blend-mode: luminosity
