\:root
    --page-main-color: #{$color-yellow}
    // Blocks
    --block-quote-background: white

body
    background: var(--page-main-color)

.offers-index,
.subscriptions-new
    .hero
        background-size: contain
        background-position: 100% 100%
        background-repeat: no-repeat

.toolbox-index,
.toolbox-child
    --page-main-color: #{$toolbox-primary}
    --block-quote-background: #{$toolbox-primary}

.directory-container
    .actors-list > div
        picture
            @extend .rounded
            display: block
            height: 100%
            overflow: hidden
            img
                filter: grayscale(1)

    .actors-list > div:nth-child(odd)
        picture
            background-color: $ecosystem-secondary
            img
                mix-blend-mode: screen

    .actors-list > div:nth-child(even)
        picture
            background-color: $color-yellow
            img
                mix-blend-mode: luminosity
