\:root
    --page-main-color: #{$color-yellow}
    // Blocks
    --block-quote-background: white

body
    background: var(--page-main-color)


.offers-index, .subscriptions-new
    .hero
        background-size: contain
        background-position: 100% 100%
        background-repeat: no-repeat

.toolbox-index, .toolbox-child
    --page-main-color: #{$toolbox-primary}
    --block-quote-background: #{$toolbox-primary}

.directory-container
    .actors-list > div
        picture
            display: block
            height: 100%
            border-radius: 6px
<<<<<<< HEAD

=======
>>>>>>> b2fcb7ea00e6abdda8832ae1db74b3b3ae1b0aa1
    .actors-list > div:nth-child(odd)
        picture
            background-color: $ecosystem-secondary
            img
<<<<<<< HEAD
                filter: grayscale(1) 
                mix-blend-mode: screen
=======
                filter: grayscale(1)
                mix-blend-mode: screen

>>>>>>> b2fcb7ea00e6abdda8832ae1db74b3b3ae1b0aa1
    .actors-list > div:nth-child(even)
        picture
            background-color: $color-yellow
            img
<<<<<<< HEAD
                filter: grayscale(1) brightness(160%) contrast(1) saturate(100%)
                mix-blend-mode: screen
=======
                filter: grayscale(1) opacity(0.4) contrast(1) brightness(1.4)
                mix-blend-mode: luminosity
>>>>>>> b2fcb7ea00e6abdda8832ae1db74b3b3ae1b0aa1
