.square
    aspect-ratio: 1
    object-fit: cover

.key-figure
    font-size: 98px

.text-lowercase,
.home-navigation__link
    font-weight: bold

.btn-night
    background-color: $color-text
    color: white
    height: 50px
    width: 160px
    padding: 15px
    &:hover
        background-color: #474747ed !important
        color: white !important


