.breadcrumb
    .breadcrumb-item
        a
            font-size: 16px
            text-decoration: none
            color: black
        &.active
            color: black
            font-weight: bold
        &::before
            display: none
        &:not(:last-child)
            &::after
                content: " →"
                font-weight: normal
                color: black
                margin-right: space(2)