body
    background: $color-bg
footer
    background: white
.materials-show
    #ecoresponsabilite
        background: #B7E0FF
    #caracteristiques-detaillees
        background: #DAFF96
.actors-show
    #services
        background: #65D37E
    #informations-pratiques
        background: #FFC6FF
.technics-show
    #eco-responsabilite
        background: #FF4D0A
