body
    background: $color-bg
.bg-actors
    background-color: $ecosystem-primary
.bg-materials
    background-color: $materials-primary
.bg-projects
    background-color: $projects-primary
.bg-technics
    background-color: $technic-primary
.bg-toolbox
    background-color: $toolbox-primary
