.replies
    + .commentary-form
        margin-top: map-get($spacers, 5)
    > div 
        @extend .border-start
        padding-bottom: map-get($spacers, 3)
        > div:first-child
            @extend .col-lg-7
            text-align: left !important