.favorites
    &__add
        &::before
            content: "1"
            font-family: "AuguresPicto"
    &__remove
        &::before
            content: "2"
            font-family: "AuguresPicto"

.action-index
    .btn-favorites
        a
            @extend .rounded-pill
            font-size: 0
            aspect-ratio: 1
            span
                display: none
            &::before
                font-size: $font-size-base