.favorites
    &__add
        &::before
            content: "1"
            font-family: "AuguresPicto"
    &__remove
        &::before
            content: "2"
            font-family: "AuguresPicto"
