.favorites
    &__add
        @include icon(usaved)
    &__remove
        @include icon(saved)

.btn-favorites
    z-index: 3

.projects-list,
.actors-list,
.materials-list,
.technics-list
    .btn-favorites
        a
            @extend .rounded-pill
            display: flex
            align-items: center
            justify-content: center
            font-size: 0
            aspect-ratio: 1
            span
                display: none
            &::before
                font-size: $font-size-base