.placeholder-illustration
    font-size: pxToRem(390)
    font-family: $font-family-headings
    display: flex
    align-items: center
    justify-content: center
    pointer-events: none
    &::before,
    &::after
        position: absolute
        line-height: 1
    &::before
        content: attr(data-first-letter)
        transform: translate(-50%, -10%)
    &::after
        content: attr(data-second-letter)
        transform: translate(50%, 10%)
    .actors-index &,
    .actors &
        background-color: $ecosystem-primary
        color: $ecosystem-secondary
    .materials-index &,
    .materials &
        background-color: $materials-primary
        color: $materials-secondary
    .projects-index &,
    .projects &
        background-color: $projects-primary
        color: $projects-secondary
    .technic-index &,
    .technic
        background-color: $technic-primary
        color: $technic-secondary
    @include media-breakpoint-up(md)
        section &
            font-size: pxToRem(550)