.modal
    .btn-close
        filter: invert(1)
        @include media-breakpoint-up(md)
            position: absolute
            top: map-get($spacers, 3)
            right: map-get($spacers, 3)
        
    &.cta-modal
        .modal-dialog
            max-width: pxToRem(842)
    @include media-breakpoint-down(md)
        &-content
            padding-bottom: var(--bs-modal-header-padding-y)