@keyframes shine
    0%
        transform: translateX(-100%) translateY(-100%) rotate(30deg)
    80%
        transform: translateX(-100%) translateY(-100%) rotate(30deg)
    100%
        transform: translateX(100%) translateY(100%) rotate(30deg)

@mixin shiny
    &::after
        content: ''
        top: 0
        transform: translateX(100%) rotate(30deg)
        width: 300%
        height: 300%
        position: absolute
        z-index: 1
        animation: shine 3s infinite ease-in
        background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(128,186,232,0) 99%, rgba(128,186,232,0) 100%)

.structure
    h2
        @include media-breakpoint-up(lg)
            position: sticky
            top: 20px
    &__item
        &__file, &__files__file
            &:hover
                .filename::before
                    background: black
                    color: white
            .filename
                &::before
                    content: "D"
                    font-family: "AuguresPicto"
                    display: block
                    float: left
                    font-size: 35px
                    line-height: 10px
                    padding: 20px 20px 25px 20px
                    margin-right: 20px
                    border: 1px solid black
                    border-radius: $border-radius
                    transition: background 0.25s ease, color 0.25s ease
                a
                    padding-top: 5px
                    color: black
                    text-decoration: none
                    display: block
            .filesize
                text-decoration: none
                font-size: $small-font-size
        &__colors
            .swatches
                margin-left: -32px
            .swatch
                display: inline-block
                position: relative
                width: 128px
                margin-bottom: 15px
                &__color
                    border-radius: 100%
                    display: block
                    height: 64px
                    margin: 0 auto 5px
                    width: 64px
                    overflow: hidden
                    position: relative
                    &__inner
                        background: white
                        display: block
                        height: 64px
                        width: 64px
                        &--argent
                            background: linear-gradient(to bottom, #bcc6cc, #eee, #bcc6cc)
                            @include shiny
                        &--beige
                            background: #debcb0
                        &--blanc
                            background: #FFFFFF
                        &--bleu
                            background: #2440a6
                        &--cuivre
                            background: linear-gradient(to bottom, #D47800, #662E00, #D47800)
                            @include shiny
                        &--gris
                            background: #999999
                        &--jaune
                            background: #fffb00
                        &--marron
                            background: #43240d
                        &--metal
                            background: linear-gradient(to bottom, #50575b, #eee, #50575b)
                            @include shiny
                        &--multicolore
                            background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(255, 154, 0, 1) 10%, rgba(208, 222, 33, 1) 20%, rgba(79, 220, 74, 1) 30%, rgba(63, 218, 216, 1) 40%, rgba(47, 201, 226, 1) 50%, rgba(28, 127, 238, 1) 60%, rgba(95, 21, 242, 1) 70%, rgba(186, 12, 248, 1) 80%, rgba(251, 7, 217, 1) 90%, rgba(255, 0, 0, 1) 100%)
                        &--noir
                            background: #000000
                        &--or
                            background: linear-gradient(to bottom, #c39738, #ffe7b2, #c39738)
                            @include shiny
                        &--orange
                            background: #ff6200
                        &--rose
                            background: #FFC0CB
                        &--rouge
                            background: #E15B5B
                        &--transparent
                            opacity: 0.5
                        &--vert
                            background: #288A87
                        &--violet
                            background: #800080
                &__name
                    color: black
                    display: block
                    text-align: center
                    text-decoration: none
                    width: 100%

.structure:not(.structure--zone-header)
    .details > div + div
        margin-top: map-get($spacers, 4)
    .structure__item__key_figure
        display: flex
        flex-direction: column-reverse
        margin-top: map-get($spacers, 3)
        h3
            color: $color-text !important
            font-size: $font-size-base
    .structure__item__richtext
        h3
            margin-top: map-get($spacers, 4)
            font-weight: 400
    .block-images
        > .row
            display: block
        .details
            width: 100%
    @include media-breakpoint-up(md)
        .structure__item__file,
        .structure__item__key_figure
            display: inline-block
            width: 50%
            + .structure__item__file,
            + .structure__item__key_figure
                float: right
        .structure__item__richtext
            > p:first-of-type
                margin-top: map-get($spacers, 2)