.toc
    @include media-breakpoint-up(md)
        position: sticky
        top: map-get($spacers, 3)
        &.is-hidden
            transform: translateX(-100%)
            opacity: 0
            position: absolute 
        .faceted__facets
            height: 95vh
            overflow: auto
    .accordion-button
        @include icon(chevron-down, after)
        &::after
            font-size: pxToRem(10)

.toc-btn
    @include icon(settings)
    &::before
        font-size: pxToRem(12)