<div class="row user-list">
  <% objects.each do |user| %>
    <div class="col-6 col-lg-4 mb-5">
      <article class="position-relative">
        <%= render 'illustration', source: user, width: 400 %>
        <h2><%= link_to user, user_path(user), class: 'stretched-link' %></h2>
      </article>
    </div>
  <% end %>
</div>