<tr class="nested-fields">
  <td>
    <%= f.input :title, 
                label: false,
                wrapper: false %>
  </td>  
  <td class="text-end" width="20">
    <%= link_to_remove_association f, class: 'btn text-danger' do %>
      <i class="<%= Icon::DELETE %>"></i>
    <% end %>
  </td>

</tr>