<footer class="mt-5">
  <div class="footer clearfix text-muted small">
    <div class="float-start">
      <p class="mb-0 mt-2">
        Fabriqué avec 
        <i class="bi bi-heart-fill"></i>
        par la coopérative
        <a href="https://www.noesya.coop" target="_blank">noesya</a>
        en utilisant le thème d'admin
        <a href="https://zuramai.github.io/mazer/" target="_blank">Mazer</a>
        créé par 
        <a href="https://saugi.me" target="_blank">Saugi</a>
      </p>
    </div>
    <div class="float-end">
      <%= render 'admin/application/toggle' %>
    </div>
  </div>
</footer>