<% Structure::Item.zones.keys.each do |zone| %>
  <% about.items.send("zone_#{zone}").each do |item| %>
    <div class="mb-4">
      <label class="form-label" for="criterion_<%= item.id %>"><%= item %></label>
      <%= render "admin/structure/items/kinds/#{item.kind}/edit", about: about, item: item %>
      <div class="form-text"><%= item.hint %></div>
    </div>
  <% end %>
<% end %>
