<p><strong><%= Project.human_attribute_name(attribute) %></strong></p>
<%= f.input attribute, label: t('admin.projects.brezet_wheel.enabled') %>
<%= f.input "#{attribute}_text", label: t('admin.projects.brezet_wheel.explanation_text'), as: :summernote %>