<div class="row">
  <div class="col-lg-5"><%= f.input :name %></div>
  <div class="col-lg-5"><%= f.input :slug %></div>
  <div class="col-lg-2">
    <label class="form-label">&nbsp;</label><br>
    <%= link_to_remove_association "Supprimer l'option", f %>
  </div>
</div>