<tr class="nested-fields">
  <td width="10"><i class="bi bi-arrow-down-up handle"></i></td>
  <td>
    <%= f.input :name,
                label: false,
                wrapper: :inline_form %>
    <%= f.input :position, as: :hidden, input_html: { "data-sortable-input": true }, wrapper_html: { class: 'd-none' } %>
  </td>
  <td>
    <%= f.input :slug,
                label: false,
                wrapper: :inline_form,
                input_html: {
                  class: 'js-slug',
                  data: { source: "#structure_item_options_attributes_#{f.options[:child_index]}_name" }
                } %>
  </td>
  <td class="text-end" width="20">
    <%= link_to_remove_association f, class: 'btn text-danger' do %>
      <i class="bi bi-trash"></i>
    <% end %>
  </td>
</tr>