<%= content_for :additional_body_class, @page.body_class unless @page.body_class.blank? %>

<header class="hero">
  <div class="container">
    <div class="row py-5">
      <div class="col-lg-6">
        <h1><%= @page %></h1>
        <p><%= @page.description %></p>
      </div>
      <div class="col-lg-6">
        
      </div>
    </div>
  </div>
</header>

<div class="document-content">

</div>