<div class="row">
  <% objects.each do |project| %>
    <div class="col-lg-4 mb-4">
      <article class="position-relative">
        <%= kamifusen_tag project.image, 
                          width: 400,
                          class: 'img-fluid rounded square', 
                          alt: project if project.image.attached? %>
        <h2><%= link_to project, project, class: 'stretched-link' %></h2>
      </article>
    </div>
  <% end %>
</div>
