<div class="row">
  <% objects.each do |project| %>
    <div class="col-lg-4 mb-4">
      <article class="position-relative">
        <%= render 'illustration', source: project, width: 400 %>
        <h2><%= link_to project, project, class: 'stretched-link' %></h2>
        <%= render 'structure/items/in_list', about: project %>
      </article>
    </div>
  <% end %>
</div>
