<div class="row projects-list">
  <% objects.each do |project| %>
    <div class="col-6 col-lg-4 mb-5">
      <article class="position-relative">
        <div class="btn-favorites position-absolute pt-1 ps-1">
          <%= render 'favorites/button', about: project %>
        </div>
        <%= render 'illustration', source: project, width: 400 %>
        <h2><%= link_to project, project, class: 'stretched-link' %></h2>
        <div class="tags d-flex align-items-start flex-wrap">
          <%= render 'structure/items/in_list', about: project %>
        </div>
      </article>
    </div>
  <% end %>
</div>
