<div class="table-responsive">
  <table class="<%= table_classes %>">
    <thead>
      <tr>
        <th><%= Structure::Option.human_attribute_name('name') %></th>
      </tr>
    </thead>
    <tbody>
      <% options.each do |option| %>
        <tr data-id="<%= option.id %>">
          <td><%= option %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
