<div class="nested-fields mb-3">
  <div class="d-flex align-items-center flex-wrap">
    <div class="me-3">
      <i class="bi bi-arrow-down-up handle"></i>
    </div>
    <%= f.input :file,
                as: :single_deletable_file,
                label: false,
                wrapper: false %>
    <%= link_to_remove_association t('delete'), f, class: 'btn btn-sm btn-danger ms-3' %>
  </div>
</div>
