<% images = item.files_for(about) %>
<div class="mb-4">
  <label class="small text-muted"><%= item %></label>
  <div><%= simple_format item.text_for(about) %></div>
  <div class="row">
    <% images.each do |image| %>
      <% next unless image.file.attached? %>
      <div class="col-lg-3">
        <%= kamifusen_tag image.file, width: 200, class: 'img-fluid img-thumbnail' %>
      </div>
    <% end %>
  </div>
</div>
