<% if value.file.attached? %>
  <div class="position-relative">
    <span class="filename">
      <%= link_to value.file.filename, 
                  value.file, 
                  class: 'stretched-link',
                  target: :_blank %>
    </span>
    <span class="filesize">
      <%= number_to_human_size value.file.blob.byte_size %>
    </span>
  </div>
<% else %>
  <p class="text-muted"><%= t('admin.structure.not_set') %></p>
<% end %>
