<div class="row">
  <% files = item.files_for(about) %>
  <% files.each do |file| %>
    <% next unless file.file.attached? %>
    <div class="col-lg-6">
      <div class="structure__item__files__file">
        <%= link_to file.file,
                    class: 'filename',
                    target: :_blank do %>
          <strong><%= file.text.present? ? file.text : file.file.filename %></strong><br>
          <small>(<%= number_to_human_size file.file.blob.byte_size %>)</small>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
