<%
options = item.options_for(about)
%>
<div class="row mb-5">
  <div class="offset-lg-6 col-lg-6">
    <%= render 'structure/items/kind_title', item: item %>
    <% if options.any? %>
      <% options.each do |option| %>
        <%= render 'structure/options/link', 
                  about: about, 
                  item: item, 
                  option: option %>
      <% end %>
    <% else %>
      <span class="btn btn-outline-dark btn-sm rounded-pill disabled">Non renseigné</span>
    <% end %>
  </div>
</div>