<div class="row mb-4">
  <div class="offset-lg-6 col-lg-6">
    <label class="small text-muted"><%= item %></label><br>
    <%= render 'structure/options/link', 
              about: about, 
              item: item, 
              option: item.option_for(about) %>
  </div>
</div>