<%
option = item.option_for(about)
%>
<%= render 'structure/options/link', 
          about: about, 
          item: item, 
          option: option %>
<% if text.present? %>
  <p><%= text %></p>
<% end %>
