<div class="row">
  <div class="offset-lg-6 col-lg-6">
    <%= render 'structure/options/link', 
              about: about, 
              item: item, 
              option: item.option_for(about) %>
  </div>
</div>