<%
value = item.text_for(about)
%>
<div class="row mb-5">
  <div class="offset-lg-6 col-lg-6">
    <%= render 'structure/items/kind_title', item: item %>
    <% if value.present? %>
      <p><%= value %></p>
    <% else %>
      <p class="text-muted"><%= t('admin.structure.not_set') %></p>
    <% end %>
  </div>
</div>