<div class="row mb-5">
  <div class="offset-lg-6 col-lg-6">
    <%= render 'structure/items/kind_title', item: item %>
    <%= link_to item.text_for(about), item.text_for(about), target: :_blank if item.text_for(about) %>
  </div>
</div>