<%
value = item.text_for(about)
%>
<div class="row mb-5">
  <div class="offset-lg-6 col-lg-6">
    <%= render 'structure/items/kind_title', item: item %>
    <% if value %>
      <%= link_to value, value, target: :_blank %>
    <% else %>
      <p class="text-muted">Non spécifié</p>
    <% end %>
  </div>
</div>