.pages-list
    list-style: none
    padding-left: 0
    row-gap: space(8)
    li
        a
            text-decoration: none
            @extend .arrow-right
            &::after
                margin-left: space(2)
            &:hover::after
                margin-left: space(3)

.parent-page
    .hero
        &__description
            @extend .display-6

