<%
elements = block.data.dig('elements')
%>
<div class="block block-keypoints pt-5">
  <div class="container">
    <% if block.name.present? %>
      <h2 class="mb-4"><%= block.name %></h2>
    <% end %>
    <% if elements %>
      <div class="row">
        <% elements.each do |element| %>
          <%
          title = element.dig('title')
          text = element.dig('text')
          icon_blob_id = element.dig('icon', 'id')
          icon_blob = ActiveStorage::Blob.find_by(id: icon_blob_id)
          %>
          <div class="col-xl-3 col-lg-4 col-sm-6 mb-5">
            <% if icon_blob %>
              <%= image_tag icon_blob, alt: "", class: 'mb-2', loading: 'lazy' %>
            <% end %>
            <% if title %>
              <h3 class="fw-bold"><%= title %></h3>
            <% end %>
            <div class="mt-2">
              <%= sanitize text %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>