<%
elements = block.data.dig('elements')
%>
<div class="container">
  <% if block.name.present? %>
    <h2><%= block.name %></h2>
  <% end %>
  <div class="row">
    <% elements.each do |element| %>
      <%
      title = element.dig('title')
      text = element.dig('text')
      icon = element.dig('icon')
      %>
      <div class="col-lg-3">
        <h3><%= title %></h3>
        <%= simple_format text %>
      </div>
    <% end %>
  </div>
</div>