<%
text = block.data.dig('text')
author = block.data.dig('author')
%>
<div class="container">
  <% if block.name.present? %>
    <h2><%= block.name %></h2>
  <% end %>
  <blockquote>
    <%= simple_format text %>
    <% if author.present? %>
      <cite><%= author %></cite>
    <% end %>
  </blockquote>
</div>
