<figure id="brezet-navigation" class="position-relative d-xl-flex align-items-end">
  <%= image_tag('brezet-wheel.svg', alt: '', class: 'brezet-wheel-image d-block mx-auto') %>
  <div class="brezet-steps mx-auto">
    <div class="step-0 d-flex flex-xl-column-reverse align-items-start">
      <a class="btn rounded-pill btn-dark stretched-link" href="#step-0">0</a>
      <span>Concevoir ensemble</span>
    </div>
    <div class="step-1 d-flex align-items-start align-items-xl-end">
      <a class="btn rounded-pill btn-dark stretched-link" href="#step-1">1</a>
      <span>Sélection des matériaux ayant le moins d’impact</span>
    </div>
    <div class="step-2 d-flex align-items-start align-items-xl-end">
      <a class="btn rounded-pill btn-dark stretched-link" href="#step-2">2</a>
      <span>Réduction de la quantité de matière</span>
    </div>
    <div class="step-3 d-flex align-items-start align-items-xl-center">
      <a class="btn rounded-pill btn-dark stretched-link" href="#step-3">3</a>
      <span>Optimisation des techniques de production</span>
    </div>
    <div class="step-4 d-flex flex-xl-column align-items-start">
      <a class="btn rounded-pill btn-dark stretched-link" href="#step-4">4</a>
      <span>Optimisation de la logistique</span>
    </div>
    <div class="step-5 text-xl-end d-flex flex-xl-column align-items-start align-items-xl-end">
      <a class="btn rounded-pill btn-dark stretched-link" href="#step-5">5</a>
      <span class="me-3">Réduction de l’impact environnemental de la phase d’utilisation</span>
    </div>
    <div class="step-6 text-xl-end d-flex flex-xl-row-reverse align-items-start align-items-xl-center">
      <a class="btn rounded-pill btn-dark stretched-link" href="#step-6">6</a>
      <span>Optimisation de la durée de vie du projet</span>
    </div>
    <div class="step-7 text-xl-end d-flex flex-xl-row-reverse align-items-start align-items-xl-center">
      <a class="btn rounded-pill btn-dark stretched-link" href="#step-7">7</a>
      <span>Optimisation de la fin de vie du projet</span>
    </div>
  </div>
  <figcaption class="small mt-4">© studio dazd – Augures Lab Scénogrrrraphie</figcaption>
</figure>