<h3 class="small text-muted">Qu’est-ce qu’une démarche d’écoconception ?</h3>
<p>Cet axe préparatoire consiste à consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus.</p>
<p>Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus.</p>
<h3 class="small text-muted mt-4">Pourquoi l’approche Brézet ?</h3>
<p>Cet axe préparatoire consiste à consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus.</p>
<p>Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus.</p>
<br>
<p><strong>Vous trouverez ci-dessous l’évaluation de ce projet selon l’approche Brézet, regroupant les différents critères pris en compte et leur explication pour chaque axe de l’approche.</strong></p>
