<div id="<%= dom_id show %>">
  <p>
    <strong>Tour:</strong>
    <%= show.tour_id %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= show.place_id %>
  </p>

  <p>
    <strong>Published:</strong>
    <%= show.published %>
  </p>

</div>
