<% anchor ||= '' %>
<% if facet.values.any? %>
  <li>
    <% unless facet.title.blank? %>
      <p class="mt-3 mb-2">
        <b><%= facet.title %></b>
      </p>
    <% end %>
    <ol class="faceted__facet__list list-inline">
      <% facet.values.each do |value| %>
        <li class="list-inline-item faceted__facet__list__value">
          <%= render 'faceted_search/facets/item/item', 
                      value: value,
                      facet: facet,
                      anchor: anchor %>
        </li>
      <% end %>
    </ol>
  </li>
<% end %>