<% title ||= "Vous souhaitez rejoindre l’écothèque ?" %>

<section class="call-to-action home">
  <div class="container py-5">
    <div class="row align-items-center text-center text-md-start py-3">
      <div class="col-lg-6">
        <h3 class="cta-title"><%= title %></h3>
        <p class="mt-4 d-none d-md-block">L’écothèque est la plateforme collaborative de l’écoscénographie. En vous inscrivant, vous pourrez accéder à l’ensemble des contenus, partager vos expériences et échanger avec une communauté engagée.</p>
      </div>
      <div class="col-lg-3 offset-lg-2 mt-3 mt-lg-0">
        <%= link_to 'Découvrir les offres', offers_path, class: 'btn btn-light' %>
      </div>
    </div>
  </div>
</section>