<% hide_cta ||= false %>

<div class="col-lg-3">
  <div class="card border">
    <div class="card-body">
      <h5 class="card-title">S’inscrire</h5>
      <p>Accès aux fiches Écosystème et Projets</p>
      <hr>
      <ul class="check-list">
        <li>Proposez des fiches écosystème et projets</li>
        <li>Inscription à la newsletter (max 6/an)</li>
      </ul>
      <hr>
      <p>Gratuit</p>
      <%= link_to "Créer un compte", new_user_session_path, class: "btn btn-dark w-100" unless hide_cta %>
    </div>
  </div>
</div>