<section class="home-quote py-6 py-md-8">
  <div class="container">
    <div class="row">
      <div class="col-md-10 small offset-md-1">
        <blockquote>
          <p class="fw-bold">Le mouvement des arts à modes doux se développe partout en Europe. Des centaines d’artistes et de compagnies ont choisi, pour réduire leur empreinte environnementale, de tourner leurs spectacles en mobilités douces : à vélo, à cheval, à pied ou en bateau.</p>
        </blockquote>
      </div>
    </div>
  </div>
</section>
