<section class="home-quote py-6 py-md-8">
  <div class="container">
    <div class="row">
      <div class="col-md-10 small offset-md-1">
        <blockquote>
          <p class="fw-bold">“Penser la scénographie dans un monde fini, c’est reconnaître l’urgence écologique et acter la nécessité de changer nos pratiques professionnelles.”</p>
          <footer class="p-0 mt-3">Extrait de la <cite>Charte des Membres</cite> de l’Augures Lab Scénogrrrraphie</footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>
