<section class="home-navigation toolbox">
  <div class="container py-5 py-md-5">
    <div class="row py-4 pb-3">
      <div class="col">
        <h2 class="h1"><%= @toolbox_page %></h2>
      </div>
    </div>
    <div class="row">
      <% @toolbox_page.children.ordered_by_position.each do |page| %>
        <div class="col-md-6 mt-4">
          <%= link_to page, page, class: "text-decoration-none fw-bold arrow-right" %>
        </div>
      <% end %>
    </div>
  </div>
</section>
