<% about.items.each do |item| %>
  <div class="mb-5">
    <label class="small text-muted"><%= item %></label>
    <%= render "structure/kinds/#{item.kind}", about: about, item: item %>
  </div>
<% end %>
