.block-collapse
    &__item__toggle
        @include icon(chevron-down, after)
            float: right
            font-size: pxToRem(18)
            padding-top: 0.25rem
        display: block
        font-weight: bold
        padding: pxToRem(12) 0
