header#document-header
    z-index: 99
    position: relative
    ul
        list-style: none
        margin-bottom: 0
    a
        text-decoration: none
    .container
        padding-top: map-get($spacers, 1)
    .collapse
        > .container
            padding-top: 0
    .navbar-logo
        z-index: 99
        @include media-breakpoint-down(md)
            width: fit-content
    .nav-with-dropdowns
        a[role="button"]
            font-weight: 500
            &::after
                display: none
            &.show
                text-decoration: underline
                text-underline-offset: 2px
        li
            position: static
        @include media-breakpoint-down(md)
            li
                border-bottom: 1px solid currentColor
            a.nav-link
                font-size: $h2-font-size-sm
                font-weight: bold
                padding-bottom: space(6)
                padding-top: space(6)
    .btn-user
        @include icon(user)
        display: flex
    .btn-user,
    .btn-search
        align-items: center
        gap: calc(#{map-get($spacers, 1)} / 2)
        font-weight: 500
        &::before
            @include rounded-icon
    @include media-breakpoint-up(md)
        .btn-user,
        .btn-search
            font-size: 0
        .nav-container
            width: calc(100% + 16px)
            > ul:last-of-type
                padding-right: 0
        .dropdown-menu
            margin-top: map-get($spacers, 2)
    @include media-breakpoint-down(lg)
        .nav-secondary
            width: 100%
    @include media-breakpoint-down(md)
        .navbar-logo
            position: absolute
        .navbar-nav-content
            position: relative
        .nav-secondary
            .dropdown-menu
                margin-top: map-get($spacers, 1)
                &.show
                    position: relative
            .dropdown-toggle[aria-expanded="true"]
                &::after
                    transform: rotate(180deg)