.hero
    position: relative
    overflow: hidden
    z-index: 1
    .locations-list
        a.btn
            @include icon(pin)
            &::before
                font-size: 12px
                margin-right: calc(#{map-get($spacers, 1)} / 2)
    .actors-options &,
    .actors-option &
        background-color: $ecosystem-primary
    .materials-options &,
    .materials-option &
        background-color: $materials-primary
    .projects-options &,
    .projects-option &
        background-color: $projects-primary
    .technics-options &,
    .technics-option &
        background-color: $technic-primary
    .toolbox-index &,
    .toolbox-child &
        background-color: $toolbox-primary

.actors-index,
.materials-index,
.projects-index,
.technics-index,
.regions-index
    .hero
        background:
            repeat: no-repeat
            size: 100%
            position: right bottom
        hgroup 
            p
                font-weight: 600
        dl
            dd
                font-weight: 400
        @include media-breakpoint-up(md)
            dl
                dd
                    font-size: pxToRem(20)
        @include media-breakpoint-up(xxl)
            background-size: contain

// colors and images
.actors-index
    --page-main-color: #{$ecosystem-primary}
    background-color: $ecosystem-primary
    .hero
        background-image: asset-url("letters/actors.svg")
.materials-index
    --page-main-color: #{$materials-primary}
    background-color: $materials-primary
    .hero
        background-image: asset-url("letters/materials.svg")
.projects-index
    --page-main-color: #{$projects-primary}
    background-color: $projects-primary
    .hero
        background-image: asset-url("letters/projects.svg")
.technics-index
    --page-main-color: #{$technic-primary}
    background-color: $technic-primary
    .hero
        background-image: asset-url("letters/technics.svg")
.toolbox-index, .toolbox-child
    --page-main-color: #{$toolbox-primary}
    background-color: $toolbox-primary


.regions-index
    .hero
        overflow: unset
        z-index: 5
        position: relative
        > img 
            bottom: 0
            right: 0
            position: absolute
            pointer-events: none
            width: auto
            height: 30%
            @include media-breakpoint-up(lg)
                height: 130%