.map
    width: 100%
    aspect-ratio: 1
    max-height: 100vh
    
.leaflet
    &-container
        font-family: inherit

    &-pane &-div-icon
        background: transparent
        border: none

    &-container &-control-attribution
        color: $primary
        font-size: px2rem(8)
        a
            color: $primary

    &-popup-content-wrapper
        box-shadow: none
        border-radius: space(2)
        overflow: hidden
        padding: 0

    &-popup-content
        --bs-border-radius: 0
        margin: 0
        min-width: min-content
        article
            h2
                margin-top: 0
                a
                    color: inherit
            .actor-content
                padding: space(4)
                min-width: space(60)
            .tags
                a, span
                    white-space: nowrap
                a:not(:hover)
                    color: inherit
    &-popup-close-button
        z-index: 10
    &-popup-tip
        display: none
    @include media-breakpoint-up(md)
        &-popup-content
            width: auto !important
            article
                display: flex
                picture, .placeholder-illustration
                    width: space(48)
                    flex-shrink: 0
                .actor-content
                    min-width: space(54)

