body
    color: $color-text

a
    color: $color-text
    
h1
    font-family: $font-family-headings

h1,
h2,
h3
    a
        text-decoration: none
        color: $color-text

body 
    color: $color-text

article
    margin-top: 40px
    h2
        font-size: 20px
        margin-top: 20px

%key-figure
    font-size: $key-figures-font-size-md
    line-height: $key-figures-line-height
    font-weight: $key-figures-font-weight

%hero
    font-size: $hero-font-size
    line-height: $hero-line-height