<%= f.association :options,
                  collection: item.options.ordered,
                  input_html: { multiple: false, id: dom_id(item) },
                  label: false,
                  wrapper: false %>
<% if item.with_explanation %>
  <label class="form-label small" for="<%= dom_id(item) %>_text">
    <%= t('admin.structure.explanation') %>
  </label>
  <%= f.input :text,
              input_html: { id: "#{dom_id(item)}_text" },
              label: false,
              wrapper: false %>
<% end %>
