<div class="row">
  <% materials.each do |material| %>
    <div class="col-lg-3 mb-4">
      <div class="card">
        <%= kamifusen_tag material.image, width: 400, class: 'card-img-top', alt: material if material.image.attached? %>
        <div class="card-body">
          <h2 class="card-title h5">
            <%= link_to material, material, class: 'stretched-link' %>
          </h2>
        </div>
      </div>
    </div>
  <% end %>
</div>
