<a  class="btn btn-sm btn-light mb-4"
    v-on:click="data.elements.push({ alt: '', caption: '', image: {} })">
  <i class="<%= Icon::ADD %>"></i>
  Ajouter une image
</a>
<draggable :list="data.elements" rowhandle=".dragHandle" class="row">
  <div v-for="(element, index) in data.elements" class="col-lg-4 draggable-item">
    <div class="card">
      <div class="card-header bg-transparent pt-3">
        <a  class="float-end btn text-danger pe-0"
            v-on:click="data.elements.splice(data.elements.indexOf(element), 1)"
            title="Delete">
          <i class="<%= Icon::DELETE %>"></i>
        </a>
        <a class="btn ps-0 dragHandle" title="Drag and drop">
          <i class="<%= Icon::MOVE %> handle"></i>
        </a>
      </div>
      <div class="card-body">
        <div class="flex-fill">
          <%= render  'admin/pages/blocks/components/image/edit',
                      model: 'element',
                      property: 'image',
                      label: 'Image (jpg, png)',
                      images_formats_accepted: 'image/png, image/jpg' %>
          <div class="mb-3">
            <label class="form-label">Description alternative</label>
            <input type="text" v-model="element.alt" class="form-control" />
          </div>
          <div class="mb-3">
            <label class="form-label">Légende</label>
            <input type="text" v-model="element.caption" class="form-control" />
          </div>
        </div>
      </div>
    </div>
  </div>
</draggable>