<header class="hero pb-5">
  <div class="container">
    <div class="row mt-md-4">
      <div class="col-lg-5">
        <hgroup>
          <h1><%= Region.model_name.human(count: 2) %></h1>
          <p class="mt-3 mt-md-5">Worem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
        </hgroup>
      </div>
    </div>
  </div>  
  <%= image_tag('letters/regions.svg', alt: '', width: '1440', height: '664') %>
</header>

<div class="document-content bg-white py-5">
  <div class="container">
    <div class="row">
      <% @regions.each do |region| %>
        <% next if region.empty? %>
        <div class="col-6 col-lg-4 mb-3 mb-lg-4">
          <div class="card">
            <div class="bg-light overflow-hidden square rounded">
              <%= kamifusen_tag region.image, width: 400, class: 'square h-100 w-100', alt: region.image_alt if region.image.attached? %>
            </div>
            <div class="card-body">
              <h2 class="card-title h5">
                <%= link_to region, region, class: 'stretched-link' %>
              </h2>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <section class="call-to-action bg-dark text-white mt-2">
    <div class="container py-5">
      <div class="row align-items-center text-center text-md-start py-3">
        <div class="col-lg-6">
          <h3 class="cta-title">Vous souhaitez rejoindre l’écothèque ?</h3>
          <p class="mt-4 d-none d-md-block">L’écothèque est la plateforme collaborative de l’écoscénographie. En vous inscrivant, vous pourrez accéder à l’ensemble des contenus, partager vos expériences et échanger avec une communauté engagée.</p>
        </div>
        <div class="col-lg-3 offset-lg-2 mt-3 mt-md-0">
          <a href="#TODO" class="btn btn-light">Découvrir les offres</a>
        </div>
      </div>
    </div>
  </section>
</div>