<h1><%= Region.model_name.human(count: 2) %></h1>

<div class="row">
  <% @regions.each do |region| %>
    <div class="col-lg-3 mb-4">
      <div class="card">
        <%= kamifusen_tag region.image, width: 400, class: 'card-img-top', alt: region if region.image.attached? %>
        <div class="card-body">
          <h2 class="card-title h5">
            <%= link_to region, region, class: 'stretched-link' %>
          </h2>
        </div>
      </div>
    </div>
  <% end %>
</div>