<div class="banner" style="background-color: <%= @banner.background_color %>">
  <div class="container py-2">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <p><%= sanitize @banner.text %></p>
      </div>
    </div>
  </div>
</div>