<%
  display_image = source.is_a?(Actor) ? source.premium? : true
  width ||= nil
%>
<% if source.respond_to?(:image) && source.image.attached? && display_image %>
  <%= kamifusen_tag source.image,
                    width: width,
                    class: 'img-fluid rounded square',
                    alt: source.image_alt %>
<% else %>
  <%
    name_elements = source.name.strip.split(' ')
    first_letter = name_elements.first[0]
    second_letter = name_elements.many? ? name_elements.second[0] : name_elements.first[1]
  %>
  <div class="placeholder-illustration rounded square overflow-hidden position-relative" data-first-letter="<%= first_letter %>" data-second-letter="<%= second_letter %>"></div>
<% end %>