<p class="small text-muted">
Publié 
<% if about.published_by %>
  par <a href="" class="text-muted"><%= about.published_by %></a> 
<% end %>
le <%= l about.created_at.to_date %>, 
mis à jour le <%= l about.updated_at.to_date %>
</p>
<%= render 'favorites/button', about: about %>
