<p class="small text-muted m-0">
Publié 
<% allowed_authors = about.authors.allowing_listing.ordered %>
<% if allowed_authors.any? %>
  par 
  <% allowed_authors.each.with_index do |author, index| %><%= ', ' if index > 0 %>
    <%= link_to author, user_path(author), class: 'text-muted' %><% end %>
<% end %>
le <%= l about.created_at.to_date %>, 
mis à jour le <%= l about.updated_at.to_date %>
</p>
