<section class="paywall py-5 bg-black text-white mt-lg-5" id="paywall">
  <div class="container">
    <div class="row my-4 align-items-center">
      <div class="col-lg-6">
        <h2 class="mb-3">Cette fiche est réservée aux abonné·es. Vous souhaitez nous rejoindre ?</h2>
        <p class="fw-bold mb-0">L’écothèque est la plateforme collaborative de l’écoscénographie. En vous inscrivant, vous pourrez accéder à l’ensemble des contenus, partager vos expériences et échanger avec une communauté engagée.</p>
      </div>
      <div class="col-lg-6 d-flex justify-content-center mt-4 mt-lg-0">
        <%= link_to "Découvrir les offres", offers_path, class: "btn btn-light fw-semibold px-4 py-2" %>
      </div>
    </div>
  </div>
</section>
