<% if about.regions.any? %>
  <div class="locations-list mb-4">
    <%= render 'structure/items/label', 
                label: about.class.human_attribute_name(:regions) %>
    <% about.regions.each do |region| %>
      <%= link_to region, region, class: tag_classes('region') %>
    <% end %>
  </div>
<% end %>
