<%
title = content_for?(:title)  ? "#{yield(:title)} • #{t('website')}"
                              : t('website')
icon = asset_path 'icons/favicons/favicon.svg'
color = "#F2F3F4"
%>
<title><%= title %></title>
<link rel="icon" href="<%= icon %>">
<meta name="theme-color" content="<%= color %>">

