<%
  if content_for?(:title)
    title = raw("#{yield(:title)} - écothèque")
  else
    title = "écothèque"
  end
%>

<title><%= content_for?(:title) ? raw("#{yield(:title)} • #{t('website')}") : t('website') %></title>
