<% anchor ||= '' %>
<% if facet.values.any? %>
  <% facet.values.each do |value| %>
    <% 
    identifier = value
    %>
    <% if facet.value_selected?(identifier) %>
      <li class="list-inline-item">
        <%= render 'faceted_search/facets/year/item', 
                    value: value,
                    facet: facet,
                    anchor: anchor %>
      </li>
    <% end %>
  <% end %>
<% end %>