<% if can?(:publish, f.object) %>
  <h5>Publication</h5>
  <%= f.input :published %>
  <%= f.association :authors,
                    collection: User.ordered,
                    input_html: {
                      class: 'select2'
                    } %>
  <%= f.input :status,
              include_blank: false,
              label_method: lambda { |g| I18n.t("admin.publication_statuses.#{g.last}") } %>
<% end %>