<% if can?(:publish, f.object) %>
  <h5>Publication</h5>
  <%= f.input :published %>
  <%= f.association :authors,
                    collection: User.possible_authors(f.object.author_ids).ordered,
                    input_html: {
                      class: 'select2'
                    } %>
<% end %>