<% file = item.file_for(about) %>
<div class="mb-4">
  <label class="small text-muted"><%= item %></label>
  <p><%= link_to file.file.filename, file.file, target: :_blank if file.present? && file.file.attached? %></p>
</div>
