<% value = item.value_for(about) %>
<div class="mb-4">
  <label class="small text-muted"><%= item %></label>
  <p><%= link_to value.file.filename, value.file, target: :_blank if value.file.attached? %></p>
</div>
