$enable-negative-margins: true

$font-family-headings: "Augures", sans-serif
$font-family-sans-serif: "Work Sans", sans-serif
$font-family-base: $font-family-sans-serif

$grid-gutter-width: 32px
$hr-opacity: 1

// Colors
$color-bg: #F2F3F4
$light: $color-bg
$color-text: #292929
$border-color: black

// PAGES COLORS
$ecosystem-primary: #F4D4FF
$ecosystem-secondary: #81D996
$materials-primary: #B7E0FF
$materials-secondary: #DAFF96
$projects-primary: #F5FF85
$projects-secondary: #99C8FF
$technic-primary: #FF8355
$technic-secondary: #CBB9FF
$toolbox-primary: #BEFFC1
$toolbox-secondary: #85E0F4

// Base
$font-size-base: 1rem
$font-size-sm: $font-size-base
$font-size-lg: $font-size-base
$line-height-base: 1.35
$line-height-sm: $line-height-base
$font-weight-base: 500

// Headings
// h1
$h1-font-size: 4rem
$h1-font-size-sm: 2rem
$h1-font-weight: bold
$h1-line-height: 110%

// h2
$h2-font-size: 2.375rem
$h2-font-size-sm: 1.5
$h2-font-weight: bold
$h2-line-height: 110%

// h3
$h3-font-size: 1.25
$h3-font-size-sm: $h3-font-size
$h3-font-weight: bold
$h3-line-height: 135%

// hero
$hero-font-size: pxToRem(25)
$hero-line-height: 140%

// small
$small-color: $color-text
$small-font-size: 0.875rem
$small-font-weight: normal
$small-line-height: 135%

// key figures
$key-figures-font-size: pxToRem(24)
$key-figures-font-size-md: pxToRem(48)
$key-figures-line-height: 135%
$key-figures-font-weight: bold

// call to action
$cta-font-size: pxToRem(24)
$cta-font-size-md: pxToRem(38)
$cta-line-height: 110%
$cta-btn-padding-y: pxToRem(24)
$cta-btn-padding-x: pxToRem(48)

// NAVBAR
$nav-link-padding-x: 0
$navbar-toggler-padding-y: 0
$navbar-toggler-padding-x: 0
$navbar-light-toggler-border-color: transparent
$navbar-dark-toggler-border-color: transparent
$navbar-toggler-focus-width: 0

// MODAL RECHERCHE
$modal-backdrop-bg: $color-bg
$modal-backdrop-opacity: 1
$modal-content-bg: transparent
$modal-content-border-width: 0

// SPACERS
$spacers: (0: 0, 1: 0.5rem, 2: 0.938rem, 3: 1.875rem, 4: 3rem, 5: 4rem, 6: 7.5rem, 7: 10rem, 8: 16.25rem)


// ICONS
$icons: ()
$icons: map-merge($icons, ("link": "\e905"))
$icons: map-merge($icons, ("chevron-up": "\e913"))
$icons: map-merge($icons, ("chevron-down": "\e912"))
$icons: map-merge($icons, ("arrow-left": "\e904"))
$icons: map-merge($icons, ("arrow-up": "\e902"))
$icons: map-merge($icons, ("arrow-down": "\e901"))
$icons: map-merge($icons, ("arrow-right": "\e903"))
$icons: map-merge($icons, ("saved": "\e910"))
$icons: map-merge($icons, ("usaved": "\e911"))
$icons: map-merge($icons, ("lens": "\e909"))
$icons: map-merge($icons, ("catalogue": "\e914"))
$icons: map-merge($icons, ("settings": "\e906"))
$icons: map-merge($icons, ("pin": "\e908"))
$icons: map-merge($icons, ("check": "\e932"))
$icons: map-merge($icons, ("delete": "\e907"))
$icons: map-merge($icons, ("user": "\e928"))