<a  class="btn btn-sm btn-light mb-4"
    v-on:click="data.elements.push({ title: '', text: '', icon: {} })">
  <i class="<%= Icon::ADD %>"></i>
  Ajouter un point-clé
</a>
<draggable :list="data.elements" rowhandle=".dragHandle" class="row">
  <div v-for="(element, index) in data.elements" class="col-lg-4 draggable-item">
    <div class="card">
      <div class="card-header bg-transparent pt-3">
        <a  class="float-end btn text-danger pe-0"
            v-on:click="data.elements.splice(data.elements.indexOf(element), 1)"
            title="Delete">
          <i class="<%= Icon::DELETE %>"></i>
        </a>
        <a class="btn ps-0 dragHandle" title="Drag and drop">
          <i class="<%= Icon::MOVE %> handle"></i>
        </a>
      </div>
      <div class="card-body">
        <div class="flex-fill">
          <%= render  'admin/pages/blocks/components/image/edit',
                      model: 'element',
                      property: 'icon',
                      label: 'Icône (svg)',
                      images_formats_accepted: '.svg',
                      hint: "#{images_formats_accepted_hint(formats: '.svg')}<br>Veiller à n'utiliser que des icones blanches et de taille 48x48px.".html_safe %>
          <div class="mb-3">
            <label class="form-label">Titre</label>
            <input type="text" v-model="element.title" class="form-control" />
          </div>
          <div class="mb-3">
            <label class="form-label">Texte</label>
            <textarea class="form-control summernote-vue"
                      data-summernote-config="without_styles" 
                      v-model="element.text" 
                      rows="5"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</draggable>