<%
elements = block.data.dig('elements') || []
%>
<ul class="list-unstyled">
  <% elements.each do |element| %>
    <%
    title = element.dig('title')
    text = element.dig('text')
    %>
    <li>
      <b><%= title %></b></br>
      <%= simple_format text %>
    </li>
  <% end %>
</ul>